*:focus{
    outline:none;
}

* {
    box-sizing: border-box;
}

::selection{
    background-color:rgba(153,204,255,0.8);
}

/* the height of the body must be set in order for the top level flexbox column to strech to fit the browser window. */
body {
    height:100vh;
    display:flex;
    flex-direction:column;
    
    /*default font*/
    font-size: 0.8em;
    font-family: 'Monaco','Menlo','Ubuntu Mono','Consolas','source-code-pro',monospace;
    background:rgb(230,230,230);
    
    margin:0px;
    padding:5px;
}

textarea {
    font-size:inherit;
    font-family:inherit;
}

p {
    margin:0px;
    padding:0px;
}

.highlighted{
    background-color:rgba(153,204,255,0.8);
}

.cut-document-node{
    border:2px dashed cyan;
}

.copy-document-node{
    border:2px solid cyan;
}

.no-border-top{
    border-top:none;
}

.no-border-bottom{
    border-bottom:none;
}

/* This is the css for top level windows. This defines a consistent background for the application */
.panel{
    background-color:white;
    box-shadow: 0px 0px 2px 2px rgba(180,180,180,0.8);
}

.scrollingPanel{
    overflow: auto;
}

.selected-window{
    border: 2px solid blue;
}

.hidden{
    display:none !important;
}

.internalLink{
    color:green;
    cursor:pointer;
    text-decoration-line:underline;
}

.internalLink:hover{
    background-color: black;
}

.panelHeader{
    padding: 0.2em 1px;
    border-bottom: 1px solid rgba(230,230,230,0.9);
    height:"1.5em"
}